html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(90deg, hsla(203, 69%, 84%, 1) 0%, hsla(18, 76%, 85%, 1) 100%);;
}

.main {
    background-color: #fefefe;
    width: 100%;
    max-width: 1200px;
    margin: 1.5rem auto;
    padding: 16px;
}

.main-section__heading::after {
    content: "";
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    border-radius: 50%;
    background: hotpink;
    margin-left: 0.5rem;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
}

.hamburger {
    background-color: transparent;
    border: none;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.header__heading {
    font-size: 32px;
    font-weight: 300;
    color: hotpink;
    margin: 0;
}

.header__img {
    width: 500px;
    max-width: 100%;
}

.hidden {
    display: none;
}

.page-footer {
    background-color: #8e9aaf;
    padding: .25rem 0;
    display: flex;
    justify-content: center;
    color: white;
}

.page-header {
    background-color: #8e9aaf;
    padding-top: 65px;
    position: sticky;
    top: 0;
}

.top-navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 16px;
}

.top-navigation--open {
    display: flex;
    border-top: 1px solid white;
}

.top-navigation__link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    display: block;
}

@media (min-width: 768px) {
    .article-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }
    .hamburger {
        display: none;
    }
    .header {
        gap: 24px;
    }
    .header__heading {
        font-size: 40px;
    }
    .main {
        padding: 24px;
    }
    .page-header {
        padding-top: 0;
    }
    .top-navigation {
        flex-direction: row;
        display: flex;
    }
    .top-navigation__link {
        letter-spacing: 0;
    }
}

@media (min-width: 1024px) {
    .article-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main {
        border-radius: 16px;
    }
}