html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(90deg, hsla(203, 69%, 84%, 1) 0%, hsla(18, 76%, 85%, 1) 100%);;
}

.main {
    background-color: #fefefe;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__heading {
    font-size: 32px;
    font-weight: 300;
    color: hotpink;
}

.header__img {
    width: 500px;
    max-width: 100%;
}

.top-navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
}

@media (min-width: 768px) {
    .article-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }
    .header__heading {
        font-size: 40px;
    }
    .main {
        padding: 24px;
    }
}

@media (min-width: 1024px) {
    .article-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}