  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
  @import url(timezone.scss);
  @import url(navigation.scss);




:root {
  --pageBackgroundColor: linear-gradient(90deg,
  hsla(203, 69%, 84%, 1) 0%,
  hsla(18, 76%, 85%, 1) 100%);
  --contentBackgroundColor: #fefefe;
  --articleBackgroundColor: #dee2ff;
  --textColor: #202020;
  --footerHeaderBackground: #565f6e;
  --hamburgerColor: transparent;
}
@media (prefers-color-scheme: dark) {
  :root {
  --pageBackgroundColor: rgb(34, 34, 34);
  --contentBackgroundColor: #000;
  --articleBackgroundColor: rgb(34, 34, 34);
  --textColor: #ffffff;
  --footerHeaderBackground: #000;
  --hamburgerColor: #ffffff;
  }
}

$tablet: 768px;
$desktop: 1024px; 

html {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: var(--textColor);
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background: var(--pageBackgroundColor); 
  }

  .main {
    background-color: var(--contentBackgroundColor);
    width: 100%;
    max-width: 1200px;
    margin: 1.5rem auto;
    padding: 16px;

    @media screen and (min-width: $tablet) {
      padding: 24px;
    }

    @media screen and (min-width: $desktop) {
      border-radius: 16px;
    }
  }

  .article-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    @media screen and (min-width: $desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .article {
    padding: 16px;
    border-radius: 16px;
    background: var(--articleBackgroundColor);
  }

  .hamburger {
    background-color: var(--hamburgerColor);
    border: none;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $tablet) {
      gap: 24px;
    }

    &__heading {
      font-size: 32px;
      font-weight: 400;
      color: hotpink;
      margin: 0;

      @media screen and (min-width: $tablet) {
        font-size: 40px;
      }
    }

    &__img {
      width: 500px;
      max-width: 100%;
    }
  }

  .hidden {
    display: none;
  }

  .main-section {
    &__heading::after {
      content: "";
      width: 0.8em;
      height: 0.8em;
      display: inline-block;
      border-radius: 50%;
      background: hotpink;
      margin-left: 0.5rem;
    }
  }

  .page-footer {
    background-color: var(--footerHeaderBackground);
    padding: 0.25rem 0;
    display: flex;
    justify-content: center;
    color: white;
  }

  .page-header {
    background-color: var(--footerHeaderBackground);
    padding-top: 65px;
    position: sticky;
    top: 0;
    z-index: 1;
    @media screen and (min-width: $tablet) {
      padding-top: 0;
    }
    &__homepage-link {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__logo {
      padding: 5px;
      width: 60px;
      @media screen and (min-width: $tablet) {
        width: 55px;
      }
    }
  }

  .repositories-listing {
    padding: 16px;
    border-radius: 16px;
    list-style-type: none;
    background: var(--articleBackgroundColor);
    &__item {
      margin-bottom: 12px;
    }
    &__link {
      color: var(--textColor);
      font-size: 1.1rem;
    }
  }